<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一列布局</title>
    <style>
        body{margin: 0; padding: 0}
        .top{width:700px; height: 100px; margin:0 auto; background: blue}
        .main{width: 700px; height: 300px; margin: 0 auto; background: yellow}
        .foot{width: 700px; height: 100px; margin: 0 auto; background: black}
    </style>
</head>
<body>
<div class="top"></div>
<div class="main"></div>
<div class="foot"></div>
</body>
</html>
