<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tab</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            font: 14px 微软雅黑;
        }
        ul, li{
            list-style: none;
        }
        .container{
            width: 574px;
            height: 160px;
            border: 1px solid #999;
            margin: 50px auto 0;
        }
        .tab{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <ul class="tab">
            <li class="current">课程</li>
            <li>学习计划</li>
            <li>技能图谱</li>
        </ul>
        <ul class="content">
            <li class="courrent">课程内容</li>
            <li>学习计划内容</li>
            <li>技能图谱内容</li>
        </ul>
    </div>
</body>
</html>