<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>float example</title>
    <style>
        p {
            margin: 0;
            border: 1px solid red;
        }
        img {
            float: left;
            margin: 0 10px 10px 0;
        }
    </style>
</head>
<body>
<img src="../images/1.jpeg" alt="Alizee"/>
<p>
    2000年，16岁的艾莉婕便凭借歌曲《Moi ... Lolita》走红，成为第二位进入英国金榜TOP10的法语歌手。[2]  同年11月21日，她的第一部专辑《Gourmandises》在全球创下400万张的销售量，获得了M6音乐大奖、NRJ音乐奖和俄罗斯Hit Fm Award大奖。[3]  2003年6月8日 ，艾莉婕翻唱《La isla bonita》再次走红。[4]  同年8月26日，举行名为《Alizée En Concert》的首场演唱会。[4]  2007年复出后发行第三张个人专辑《Psychédélices》。[5] 艾莉婕（Alizée），1984年出生于法国科西嘉岛阿雅克肖，法国女歌手。[1]
    2000年，16岁的艾莉婕便凭借歌曲《Moi ... Lolita》走红，成为第二位进入英国金榜TOP10的法语歌手。[2]  同年11月21日，她的第一部专辑《Gourmandises》在全球创下400万张的销售量，获得了M6音乐大奖、NRJ音乐奖和俄罗斯Hit Fm Award大奖。[3]  2003年6月8日 ，艾莉婕翻唱《La isla bonita》再次走红。[4]  同年8月26日，举行名为《Alizée En Concert》的首场演唱会。[4]  2007年复出后发行第三张个人专辑《Psychédélices》。[5] 艾莉婕（Alizée），1984年出生于法国科西嘉岛阿雅克肖，法国女歌手。[1]
    2000年，16岁的艾莉婕便凭借歌曲《Moi ... Lolita》走红，成为第二位进入英国金榜TOP10的法语歌手。[2]  同年11月21日，她的第一部专辑《Gourmandises》在全球创下400万张的销售量，获得了M6音乐大奖、NRJ音乐奖和俄罗斯Hit Fm Award大奖。[3]  2003年6月8日 ，艾莉婕翻唱《La isla bonita》再次走红。[4]  同年8月26日，举行名为《Alizée En Concert》的首场演唱会。[4]  2007年复出后发行第三张个人专辑《Psychédélices》。[5] 艾莉婕（Alizée），1984年出生于法国科西嘉岛阿雅克肖，法国女歌手。[1]
    2000年，16岁的艾莉婕便凭借歌曲《Moi ... Lolita》走红，成为第二位进入英国金榜TOP10的法语歌手。[2]  同年11月21日，她的第一部专辑《Gourmandises》在全球创下400万张的销售量，获得了M6音乐大奖、NRJ音乐奖和俄罗斯Hit Fm Award大奖。[3]  2003年6月8日 ，艾莉婕翻唱《La isla bonita》再次走红。[4]  同年8月26日，举行名为《Alizée En Concert》的首场演唱会。[4]  2007年复出后发行第三张个人专辑《Psychédélices》。[5] 艾莉婕（Alizée），1984年出生于法国科西嘉岛阿雅克肖，法国女歌手。[1]
    2000年，16岁的艾莉婕便凭借歌曲《Moi ... Lolita》走红，成为第二位进入英国金榜TOP10的法语歌手。[2]  同年11月21日，她的第一部专辑《Gourmandises》在全球创下400万张的销售量，获得了M6音乐大奖、NRJ音乐奖和俄罗斯Hit Fm Award大奖。[3]  2003年6月8日 ，艾莉婕翻唱《La isla bonita》再次走红。[4]  同年8月26日，举行名为《Alizée En Concert》的首场演唱会。[4]  2007年复出后发行第三张个人专辑《Psychédélices》。[5] 艾莉婕（Alizée），1984年出生于法国科西嘉岛阿雅克肖，法国女歌手。[1]
    2000年，16岁的艾莉婕便凭借歌曲《Moi ... Lolita》走红，成为第二位进入英国金榜TOP10的法语歌手。[2]  同年11月21日，她的第一部专辑《Gourmandises》在全球创下400万张的销售量，获得了M6音乐大奖、NRJ音乐奖和俄罗斯Hit Fm Award大奖。[3]  2003年6月8日 ，艾莉婕翻唱《La isla bonita》再次走红。[4]  同年8月26日，举行名为《Alizée En Concert》的首场演唱会。[4]  2007年复出后发行第三张个人专辑《Psychédélices》。[5] 艾莉婕（Alizée），1984年出生于法国科西嘉岛阿雅克肖，法国女歌手。[1]
    2000年，16岁的艾莉婕便凭借歌曲《Moi ... Lolita》走红，成为第二位进入英国金榜TOP10的法语歌手。[2]  同年11月21日，她的第一部专辑《Gourmandises》在全球创下400万张的销售量，获得了M6音乐大奖、NRJ音乐奖和俄罗斯Hit Fm Award大奖。[3]  2003年6月8日 ，艾莉婕翻唱《La isla bonita》再次走红。[4]  同年8月26日，举行名为《Alizée En Concert》的首场演唱会。[4]  2007年复出后发行第三张个人专辑《Psychédélices》。[5] 艾莉婕（Alizée），1984年出生于法国科西嘉岛阿雅克肖，法国女歌手。[1]
    2000年，16岁的艾莉婕便凭借歌曲《Moi ... Lolita》走红，成为第二位进入英国金榜TOP10的法语歌手。[2]  同年11月21日，她的第一部专辑《Gourmandises》在全球创下400万张的销售量，获得了M6音乐大奖、NRJ音乐奖和俄罗斯Hit Fm Award大奖。[3]  2003年6月8日 ，艾莉婕翻唱《La isla bonita》再次走红。[4]  同年8月26日，举行名为《Alizée En Concert》的首场演唱会。[4]  2007年复出后发行第三张个人专辑《Psychédélices》。[5] 艾莉婕（Alizée），1984年出生于法国科西嘉岛阿雅克肖，法国女歌手。[1]
    2000年，16岁的艾莉婕便凭借歌曲《Moi ... Lolita》走红，成为第二位进入英国金榜TOP10的法语歌手。[2]  同年11月21日，她的第一部专辑《Gourmandises》在全球创下400万张的销售量，获得了M6音乐大奖、NRJ音乐奖和俄罗斯Hit Fm Award大奖。[3]  2003年6月8日 ，艾莉婕翻唱《La isla bonita》再次走红。[4]  同年8月26日，举行名为《Alizée En Concert》的首场演唱会。[4]  2007年复出后发行第三张个人专辑《Psychédélices》。[5] 艾莉婕（Alizée），1984年出生于法国科西嘉岛阿雅克肖，法国女歌手。[1]
    2000年，16岁的艾莉婕便凭借歌曲《Moi ... Lolita》走红，成为第二位进入英国金榜TOP10的法语歌手。[2]  同年11月21日，她的第一部专辑《Gourmandises》在全球创下400万张的销售量，获得了M6音乐大奖、NRJ音乐奖和俄罗斯Hit Fm Award大奖。[3]  2003年6月8日 ，艾莉婕翻唱《La isla bonita》再次走红。[4]  同年8月26日，举行名为《Alizée En Concert》的首场演唱会。[4]  2007年复出后发行第三张个人专辑《Psychédélices》。[5] 艾莉婕（Alizée），1984年出生于法国科西嘉岛阿雅克肖，法国女歌手。[1]
    2000年，16岁的艾莉婕便凭借歌曲《Moi ... Lolita》走红，成为第二位进入英国金榜TOP10的法语歌手。[2]  同年11月21日，她的第一部专辑《Gourmandises》在全球创下400万张的销售量，获得了M6音乐大奖、NRJ音乐奖和俄罗斯Hit Fm Award大奖。[3]  2003年6月8日 ，艾莉婕翻唱《La isla bonita》再次走红。[4]  同年8月26日，举行名为《Alizée En Concert》的首场演唱会。[4]  2007年复出后发行第三张个人专辑《Psychédélices》。[5] 艾莉婕（Alizée），1984年出生于法国科西嘉岛阿雅克肖，法国女歌手。[1]
    2000年，16岁的艾莉婕便凭借歌曲《Moi ... Lolita》走红，成为第二位进入英国金榜TOP10的法语歌手。[2]  同年11月21日，她的第一部专辑《Gourmandises》在全球创下400万张的销售量，获得了M6音乐大奖、NRJ音乐奖和俄罗斯Hit Fm Award大奖。[3]  2003年6月8日 ，艾莉婕翻唱《La isla bonita》再次走红。[4]  同年8月26日，举行名为《Alizée En Concert》的首场演唱会。[4]  2007年复出后发行第三张个人专辑《Psychédélices》。[5]
</p>
</body>
</html>