<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>two columns</title>
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        .main{
            margin: 0 auto;
            width: 800px;
        }
        .left{
            float: left;
            width: 20%;
            height: 500px;
            background: yellow;
        }
        .right{
            float: right;
            width: 80%;
            height: 500px;
            background: blue;
        }
    </style>
</head>
<body>
<div class="main">
    <div class="left"></div>
    <div class="right"></div>
</div>
</body>
</html>